.top-selection__search-block-container {
  gap: 120px;
  margin-bottom: 100px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
}

.search-form__item-name-container {
  flex-grow: 1;
  min-width: 467px;
}

.search-form input {
  box-sizing: border-box;
  border-radius: 8px;
  outline-color: #f5bd41;
  outline-width: 3px;
  color: #383838;
  padding: 0 24px;
  height: 64px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-form label {
  color: #ffffff;
  margin: 0 24px 21px;
}

.input-block {
  background: #ffffff;
}

.input-block_name {
  border-radius: 8px 0 0 8px;
}

.input-block_name svg {
  display: none;
}

.search-form__item-name {
  width: 100%;
  border-radius: 8px 0 0 8px;
  border: 0;
}

.search-form__item-date-container {
  min-width: 259px;
  flex-grow: 1;
}

.search-form__check-date {
  width: 100%;
  border: 1px solid #cecece;
}

.search-form__check-date_mobile {
  display: none;
}

.input-block_filter {
  display: flex;
  justify-content: flex-end;
  min-width: 314px;
  flex-grow: 1;
}

.search-form__item-filter {
  width: 100%;
  box-sizing: content-box;
  border: 0;
}

.item-filter__dropdown {
  box-sizing: border-box;
  position: absolute;
  display: none;
  max-width: 260px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: calc(64px + 8px);
  padding: 22px;
}

.dropdown__counter-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 28px;
}
.dropdown__child-age-container {
  display: none;
  flex-direction: column;
  gap: 12px;
  color: #333333;
  font-size: 12px;
}

.dropdown__child-age-select-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
}

.dropdown__child-age-select-container select {
  max-width: 100px;
  width: 100%;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  border-color: #3077c6;
  background-color: #ffffff;
  font-size: 12px;
}

.search-form__adults {
  display: none;
}

.search-form__children {
  display: none;
}

.search-form__rooms {
  display: none;
}

.input-block_button {
  border-radius: 0 8px 8px 0;
  min-width: 192px;
  flex: 1;
}

.search-form__item-button {
  width: 100%;
  height: 64px;
  padding: 0 57px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  background: #3077c6;
  color: #ffffff;
  border: 1px solid #3077c6;
  border-radius: 8px;
  cursor: pointer;
}
