* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px 0;
}

.card {
  --colums-size: 25%;
  box-sizing: border-box;
  padding: 8px;
  flex-basis: var(--colums-size);
}

.card__image {
  margin-bottom: 24px;
  position: relative;
  padding-bottom: 100%;
}

.card__image svg {
  display: block;
}

.card__image img {
  position: absolute;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__title {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.card__location {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@media only screen and (max-width: 768px) {
  .card {
    --colums-size: 50%;
    padding: 8px;
  }

  .cards-row {
    margin: -8px;
  }

  .arrow-button_desktop {
    display: none;
  }

  .arrow-button_tablet {
    display: flex;
  }

  .destinations__cards-row {
    flex-wrap: wrap;
  }

  .destinations__card {
    flex: 50%;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .card__image {
    margin-bottom: 24px;
  }

  .card__title {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
  }

  .card__location {
    font-size: 12px;
    line-height: 14px;
  }

  .advantages__container {
    margin-top: -16px;
  }

  .advantages__heading-title:after {
    display: none;
  }

  .advantages__cards-row {
    margin: -16px 0;
    justify-content: center;
  }

  .advantages__card__image {
    margin-bottom: 16px;
  }

  .advantages__card__image svg {
    width: 70px;
    height: 70px;
  }

  .advantages__card__title {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
  }

  .advantages__card {
    --colums-size: 100%;
    padding: 16px 0;
  }

  .arrow-button_tablet {
    display: none;
  }

  .arrow-button_mobile {
    display: flex;
    --size: 28px;
  }

  .arrow-button svg {
    width: 7px;
    height: 15px;
  }

  .card_not-mobile {
    display: none;
  }

  .sign-up__wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .sign-up__row {
    align-items: center;
    background-color: initial;
  }

  .sign-up__content {
    margin-top: 0;
  }

  .sing-up__close-button {
    order: -1;
    margin: 0 16px 0 0;
  }

  .sign-up__close-button-icon {
    --size: 16px;
  }

  .sign-up__icon-container {
    --size: 58px;
    background-color: #3077c6;
    border-radius: 4px;
    margin: 0 16px 0 0;
  }

  .sign-up__icon {
    display: none;
  }

  .sign-up__icon_mobile {
    fill: #ffffff;
    display: initial;
    width: 53px;
    height: 11px;
  }

  .sign-up__heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 0 16px 0 0;
  }

  .sigh-up__confirm-button {
    display: none;
  }

  .sigh-up__install-button {
    display: initial;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3077c6;
  }

  .destinations-wrapper__wrapper {
    padding-bottom: 20px;
  }

  .destinations__category-panel {
    margin-bottom: 24px;
    gap: 16px;
    background-color: initial;
  }

  .destination__category-button {
    display: block;
    flex: 100%;
    padding: initial;
    min-height: 32px;
    font-size: 19px;
    line-height: 22px;
    border-radius: 4px;
  }

  .category-button__cities-button {
    text-shadow: initial;
    border: 1px solid #f3f3f4;
    background-color: #ffffff;
  }

  .category-button__places-button {
    display: none;
  }

  .category-button__places-button_mobile {
    display: inline;
    border: 1px solid #f3f3f4;
    background-color: #ffffff;
  }

  .ordinal-container {
    display: flex;
    flex-direction: column;
  }

  .reviews {
    order: -1;
    background-color: #eaf0f9;
  }

  .reviews__heading {
    height: initial;
  }

  .reviews__card {
    font-size: 15px;
    line-height: 18px;
  }

  .reviews__card__image {
    margin: 0;
  }

  .card__price {
    display: none;
  }

  .card__body {
    padding: 12px 0 0 0;
  }

  .card__top__text-container div {
    font-size: 15px;
    line-height: 18px;
  }

  .reviews__card__image img {
    max-height: 325px;
  }

  .reviews__card__tittle {
    margin: 0;
  }

  .card__top__text-container {
    gap: 8px;
  }

  .card__top__rating-container {
    gap: 4px;
  }

  .card__rating-grade {
    width: 39px;
    height: 26px;
  }

  .card__reviews-amount {
    font-size: 12px;
  }

  .card__top {
    margin-bottom: 11px;
  }

  .review__profile {
    padding: 2px 4px 4px 4px;
  }

  .profile__name {
    margin-bottom: 4px;
  }

  .profile__icon {
    width: 44px;
    height: 44px;
    margin-right: 7px;
  }

  .review {
    margin-bottom: 28px;
  }

  .card__navigation {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .card__navigation .navigation__circle {
    box-sizing: border-box;
    border-radius: 50%;
    border: #333333 solid 1px;
    width: 8px;
    height: 8px;
    color: #333333;
  }

  .navigation__circle:first-child {
    border-width: 4px;
  }

  .footer__container {
    gap: 0;
  }

  .footer__row {
    margin: 0 auto;
  }

  .footer-list {
    width: auto;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    margin-bottom: 32px;
  }

  .footer-list__item {
    display: none;
  }

  .footer__rights {
    margin: 0 auto;
    font-size: 12px;
    line-height: 14px;
    text-shadow: 0 4px 4px #000000, -1px 0 #000000, 0 1px #000000, 1px 0 #000000,
      0 -1px #000000;
  }
}

@media only screen and (min-width: 481px) {
  .footer__logo {
    display: none;
  }
}
