.top-selection__search-block-container {
  gap: 120px;
  margin-bottom: 100px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
}

.search-form__item-name-container {
  flex-grow: 1;
  min-width: 467px;
}

.search-form input {
  box-sizing: border-box;
  border-radius: 8px;
  outline-color: #f5bd41;
  outline-width: 3px;
  color: #383838;
  padding-left: 24px;
  height: 64px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-form label {
  color: #ffffff;
  margin: 0 24px 21px;
}

input {
  cursor: pointer;
}

label {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.input-block {
  background: #ffffff;
}

.input-block__date {
  max-width: 259px;
}

.input-block__date input {
  width: 100%;
  border: 1px solid #cecece;
}

.input-block_name {
  border-radius: 8px 0 0 8px;
}

.input-block_name svg {
  display: none;
}

.search-form__item-name {
  width: 100%;
  border-radius: 8px 0 0 8px;
  border: 0;
}

.search-form__check-date {
  width: 100%;
  border: 1px solid #cecece;
}

.search-form__check-date_mobile {
  display: none;
}

.input-block_button {
  border-radius: 0 8px 8px 0;
  min-width: 192px;
  flex: 1;
}

.search-form__item-button {
  width: 100%;
  height: 64px;
  padding: 0 57px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  background: #3077c6;
  color: #ffffff;
  border: 1px solid #3077c6;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 1296px) {
  .input-block_name {
    border-radius: 8px 0 0 0;
  }

  .search-form__item-button {
    border-radius: 0 0 8px 8px;
  }

  .input-block_button {
    border-radius: 0 0 8px 8px;
  }
}

@media only screen and (max-width: 1104px) {
  .input-block__date {
    border-radius: 0 8px 0 0;
  }

  .input-block_button {
    border-radius: 0 8px 8px 0;
  }
}

@media only screen and (max-width: 768px) {
  .input-block {
    background: none;
  }

  .search-form__item-name-container {
    min-width: 100%;
  }

  .search-form__item-date-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }

  .input-block__date {
    max-width: initial;
  }

  .top-selection__search-block-container {
    gap: 32px;
  }

  .search-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 4px;
    flex-direction: column;
    background: #f5bd41;
  }

  .search-form input {
    box-sizing: initial;
    border-radius: initial;
    height: initial;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    outline: none;
    border: none;
    width: 100%;
    color: #383838;
    padding: 0;
  }

  .search-form label {
    color: initial;
    margin: initial;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .input-block {
    margin: 4px;
    min-height: 48px;
    display: flex;
    border-radius: 4px;
  }

  .search-form * {
    box-sizing: border-box;
  }

  .search-form__item-name-container {
    min-width: initial;
    flex-grow: initial;
  }

  .search-form__item-name-container label {
    display: none;
  }

  .input-block_name {
    border-radius: 4px;
    align-items: center;
    padding: 0 12px;
    background: #ffffff;
  }

  .input-block_name svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  .container.search-form__item-date-container {
    min-width: initial;
    flex-grow: initial;
    margin: 4px;
    min-height: 48px;
    flex-direction: row;
    border-radius: 4px;
    gap: 8px;
  }

  .search-form__item-date-container > label {
    display: none;
  }

  .input-block__date {
    display: none;
  }

  .search-form__check-date_mobile {
    display: initial;
    padding: 0 8px 4px;
    border-radius: 4px;
    flex-direction: column;
    height: 100%;
    background: #ffffff;
    width: calc(50% - 4px);
  }

  .input-block_button {
    border-radius: initial;
    min-width: initial;
    flex: initial;
  }

  .search-form__item-button {
    height: initial;
    padding: initial;
    line-height: initial;
    border-radius: 4px;
    width: 100%;
    border: none;
    font-weight: 500;
    font-size: 19px;
    color: #ffffff;
    background: #3077c6;
  }
}
