.top-selection__search-block-container {
  gap: 120px;
  margin-bottom: 100px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
}

.search-form__item-name-container {
  flex-grow: 1;
  min-width: 467px;
}

.search-form input {
  box-sizing: border-box;
  border-radius: 8px;
  outline-color: #f5bd41;
  outline-width: 3px;
  color: #383838;
  padding-left: 24px;
  height: 64px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-form label {
  color: #ffffff;
  margin: 0 24px 21px;
}

input {
  cursor: pointer;
}

label {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.input-block {
  background: #ffffff;
}

.input-block__date {
  max-width: 259px;
}

.input-block__date input {
  width: 100%;
  border: 1px solid #cecece;
}

.input-block_name {
  border-radius: 8px 0 0 8px;
}

.input-block_name svg {
  display: none;
}

.search-form__item-name {
  width: 100%;
  border-radius: 8px 0 0 8px;
  border: 0;
}

.search-form__check-date {
  width: 100%;
  border: 1px solid #cecece;
}

.search-form__check-date_mobile {
  display: none;
}

.search-form__adults {
  display: none;
}

.search-form__children {
  display: none;
}

.search-form__rooms {
  display: none;
}

.input-block_button {
  border-radius: 0 8px 8px 0;
  min-width: 192px;
  flex: 1;
}

.search-form__item-button {
  width: 100%;
  height: 64px;
  padding: 0 57px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  background: #3077c6;
  color: #ffffff;
  border: 1px solid #3077c6;
  border-radius: 8px;
  cursor: pointer;
}
